{% set grid_layout = 'datagrid.html.twig' %}

{{ grid_top(grid) }}

<table data-role="table" class="table table-bordered table-striped table-condensed table-hover">
    <thead>
        <tr data-action="sort" class="alert alert-info">
            <th data-group="saleOrder" data-field="codeNumber">SO #</th>
            <th data-group="saleOrder" data-field="transactionDate">Transaction Date</th>
            <th data-group="saleOrder" data-field="vehicleBrand">Vehicle Brand</th>
            <th data-group="saleOrder" data-field="vehicleType">Vehicle Type</th>
            <th data-group="saleOrder" data-field="vehicleSerialNumber">Vehicle Serial Number</th>
            <th data-group="saleOrder" data-field="vehicleColor">Vehicle Color</th>
            <th data-group="customer" data-field="name">Customer Name</th>
        </tr>
        <tr data-action="search">
            <th data-group="saleOrder" data-field="codeNumber"></th>
            <th data-group="saleOrder" data-field="transactionDate"></th>
            <th data-group="saleOrder" data-field="vehicleBrand"></th>
            <th data-group="saleOrder" data-field="vehicleType"></th>
            <th data-group="saleOrder" data-field="vehicleSerialNumber"></th>
            <th data-group="saleOrder" data-field="vehicleColor"></th>
            <th data-group="customer" data-field="name"></th>
        </tr>
    </thead>
    <tbody>
        {% for saleOrder in grid.data %}
            <tr data-field-id="{{ saleOrder.id }}"
                data-field-customer-name="{{ saleOrder.customer.name|default }}"
                data-field-sale-order-vehicle-brand="{{ saleOrder.vehicleBrand|default }}"
                data-field-sale-order-vehicle-type="{{ saleOrder.vehicleType|default }}"
                data-field-sale-order-vehicle-serial-number="{{ saleOrder.vehicleSerialNumber|default }}"
                data-field-sale-order-vehicle-color="{{ saleOrder.vehicleColor|default }}">
                <td class="text-left">{{ saleOrder.codeNumber|default }}</td>
                <td class="text-left">{{ saleOrder.transactionDate|default ? saleOrder.transactionDate|date('Y-m-d') }}</td>
                <td class="text-left">{{ saleOrder.vehicleBrand|default }}</td>
                <td class="text-left">{{ saleOrder.vehicleType|default }}</td>
                <td class="text-left">{{ saleOrder.vehicleSerialNumber|default }}</td>
                <td class="text-left">{{ saleOrder.vehicleColor|default }}</td>
                <td class="text-left">{{ saleOrder.customer.name|default }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7" class="alert alert-warning">
                    <strong>There are no items to display.</strong>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{{ grid_bottom(grid) }}

<script>
    jQuery(function($) {
        $("#{{ grid.id }}-top").css("display", "none");
    });
</script>
