{% extends 'transaction/layout.html.twig' %}

{% block actions %}
    {{ include('transaction/actions.html.twig') }}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
        <div>{{ form_errors(form) }}</div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Pengajuan Discount #</label>
                    <div>{{ saleDiscountApplication.codeNumber }}</div>
                </div>
                {{ form_row(form.transactionDate, {'label' : 'Tanggal'}) }}
                {{ form_row(form.customer, {'attr': {'readonly': true, 'data-toggle': 'modal', 'data-target': '#customer-dialog'} }) }}
                <div class="form-group" id="customer-info">
                    <div>
                        <label>Customer:</label>
                        <span data-name="customer-name">{{ saleDiscountApplication.customer.name|default }}</span>
                    </div>
                    <div>
                        <label>Contact Person:</label>
                        <span data-name="customer-contact-person">{{ saleDiscountApplication.customer.contactPerson|default }}</span>
                    </div>
                    <div>
                        <label>Phone:</label>
                        <span data-name="customer-phone">{{ saleDiscountApplication.customer.phone|default }}</span>
                    </div>
                    <div>
                        <label>Business Field:</label>
                        <span data-name="customer-business-field">{{ saleDiscountApplication.customer.businessField|default }}</span>
                    </div>
                    <div>
                        <label>Cat 2:</label>
                    </div>
                    <div style="padding-left: 25px">
                        <div>
                            <label>Hino:</label>
                            <span data-name="customer-category-two-hino-population">{{ saleDiscountApplication.customer.categoryTwoHinoPopulation|default|number_format(0) }}</span> unit
                        </div>
                        <div>
                            <label>Mitsubishi:</label>
                            <span data-name="customer-category-two-mitsubishi-population">{{ saleDiscountApplication.customer.categoryTwoMitsubishiPopulation|default|number_format(0) }}</span> unit
                        </div>
                        <div>
                            <label>Toyota:</label>
                            <span data-name="customer-category-two-toyota-population">{{ saleDiscountApplication.customer.categoryTwoToyotaPopulation|default|number_format(0) }}</span> unit
                        </div>
                        <div>
                            <label>Isuzu:</label>
                            <span data-name="customer-category-two-isuzu-population">{{ saleDiscountApplication.customer.categoryTwoIsuzuPopulation|default|number_format(0) }}</span> unit
                        </div>
                        <div>
                            <label>Other:</label>
                            <span data-name="customer-category-two-other-population">{{ saleDiscountApplication.customer.categoryTwoOtherPopulation|default|number_format(0) }}</span> unit
                        </div>
                    </div>
                    <div>
                        <label>Cat 3:</label>
                    </div>
                    <div style="padding-left: 25px">
                        <div>
                            <label>Hino:</label>
                            <span data-name="customer-category-three-hino-population">{{ saleDiscountApplication.customer.categoryThreeHinoPopulation|default|number_format(0) }}</span> unit
                        </div>
                        <div>
                            <label>Mitsubishi:</label>
                            <span data-name="customer-category-three-mitsubishi-population">{{ saleDiscountApplication.customer.categoryThreeMitsubishiPopulation|default|number_format(0) }}</span> unit
                        </div>
                        <div>
                            <label>UD. Trucks:</label>
                            <span data-name="customer-category-three-nissan-population">{{ saleDiscountApplication.customer.categoryThreeNissanPopulation|default|number_format(0) }}</span> unit
                        </div>
                        <div>
                            <label>Isuzu:</label>
                            <span data-name="customer-category-three-isuzu-population">{{ saleDiscountApplication.customer.categoryThreeIsuzuPopulation|default|number_format(0) }}</span> unit
                        </div>
                        <div>
                            <label>Benz:</label>
                            <span data-name="customer-category-three-benz-population">{{ saleDiscountApplication.customer.categoryThreeBenzPopulation|default|number_format(0) }}</span> unit
                        </div>
                    </div>
                </div>
                {{ form_row(form.dealStatus) }}
                {{ form_row(form.dealDate, {'label': false}) }}
                <label>Customer Status</label>
                {{ form_row(form.isHinoCustomer, {'label': 'Hino' }) }}
                {{ form_row(form.isMitsubishiCustomer, {'label': 'Mitsubishi' }) }}
                {{ form_row(form.isNissanCustomer, {'label': 'U.D. Trucks' }) }}
                {{ form_row(form.isIsuzuCustomer, {'label': 'Isuzu' }) }}
                {{ form_row(form.isBenzCustomer, {'label': 'Benz' }) }}
                {{ form_widget(form.otherBrandCustomer, {'attr': {'placeholder': 'Other'} }) }}
                {{ form_errors(form.otherBrandCustomer) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.vehicleModel, {'attr': {'readonly': true, 'data-toggle': 'modal', 'data-target': '#vehicle-model-dialog'}, 'label' : 'Tipe Permintaan' }) }}
                <div class="form-group" id="vehicle-model-info">
                    <div>
                        <label>Manufacture Code:</label>
                        <span data-name="vehicle-model-manufacture-code">{{ saleDiscountApplication.vehicleModel.manufactureCode|default }}</span>
                    </div>
                    <div>
                        <label>VOS Model:</label>
                        <span data-name="vehicle-model-vos-model-name">{{ saleDiscountApplication.vehicleModel.vosModelName|default }}</span>
                    </div>
                    <div>
                        <label>DMS Variant:</label>
                        <span data-name="vehicle-model-dms-variant-name">{{ saleDiscountApplication.vehicleModel.dmsVariantName|default }}</span>
                    </div>
                </div>
                {{ form_row(form.requestQuantity, {'label' : 'Quantity Permintaan' }) }}
                {{ form_row(form.requestUsageType, {'label' : 'Type of Body / Usage' }) }}
                {{ form_row(form.supplier, {'attr': {'readonly': true, 'data-toggle': 'modal', 'data-target': '#supplier-dialog'}, 'label' : 'Karoseri' }) }}
                <div class="form-group" id="supplier-info">
                    <div>
                        <label>Perusahaan:</label>
                        <span data-name="supplier-name">{{ purchaseWorkshopHeader.supplier.name|default }}</span>
                    </div>
                    <div>
                        <label>Contact Person:</label>
                        <span data-name="supplier-contact-person">{{ purchaseWorkshopHeader.supplier.contactPerson|default }}</span>
                    </div>
                    <div>
                        <label>Alamat:</label>
                        <span data-name="supplier-office-address">{{ purchaseWorkshopHeader.supplier.officeAddress|default }}</span>
                    </div>
                </div>
                {{ form_row(form.competitorBrand) }}
                {{ form_row(form.competitorType) }}
                {{ form_row(form.competitorDealer) }}
                {{ form_row(form.paymentMethodType, {'label' : 'Cara Pembayaran' }) }}
                {{ form_row(form.financeCompany, {'label': false}) }}
                <div class="form-group">
                    {{ form_row(form.customerPrice, {'label' : 'Harga Permintaan Customer (Rp.)', 'attr': {'data-bind-target': '[data-name=customer-price-text]', 'data-bind-format': 'number', 'data-option-precision': 2} }) }}
                    <span data-name="customer-price-text">{{ saleDiscountApplication.customerPrice|default|number_format(2) }}</span>
                </div>
                <div class="form-group">
                    {{ form_row(form.salesmanPrice, {'label' : 'Sales ke Customer (Rp.)', 'attr': {'data-bind-target': '[data-name=salesman-price-text]', 'data-bind-format': 'number', 'data-option-precision': 2} }) }}
                    <span data-name="salesman-price-text">{{ saleDiscountApplication.salesmanPrice|default|number_format(2) }}</span>
                </div>
                <div class="form-group">
                    {{ form_row(form.approvedPrice, {'label' : 'Harga Disetujui (Rp.)', 'attr': {'data-bind-target': '[data-name=approved-price-text]', 'data-bind-format': 'number', 'data-option-precision': 2} }) }}
                    <span data-name="approved-price-text">{{ saleDiscountApplication.approvedPrice|default|number_format(2) }}</span>
                </div>
                <div class="form-group">
                    {{ form_row(form.competitorPrice, {'label' : 'Kompetitor ke Customer (Rp.)', 'attr': {'data-bind-target': '[data-name=competitor-price-text]', 'data-bind-format': 'number', 'data-option-precision': 2} }) }}
                    <span data-name="competitor-price-text">{{ saleDiscountApplication.competitorPrice|default|number_format(2) }}</span>
                </div>
                <div class="form-group">
                    {{ form_row(form.mediatorPrice, {'label' : 'Mediator Fee (Rp.)', 'attr': {'data-bind-target': '[data-name=mediator-price-text]', 'data-bind-format': 'number', 'data-option-precision': 2} }) }}
                    <span data-name="mediator-price-text">{{ saleDiscountApplication.mediatorPrice|default|number_format(2) }}</span>
                </div>
            </div>
        </div>
            
        <table class="table table-bordered" id="pricing-list">
            <thead>
                <tr class="alert alert-info">
                    <td class="font-weight-bold lead">Break Down Harga</td>
                    <td></td>
                    <td style="width: 20%"></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Harga Off The Road (Rp.)</td>
                    <td>
                        {{ form_widget(form.offTheRoadPrice, {'attr': {'data-bind-target': '[data-name=off-the-road-price-text]', 'data-bind-format': 'number', 'data-option-precision': 2} }) }}
                        {{ form_errors(form.offTheRoadPrice) }}
                    </td>
                    <td class="text-right">
                        <span data-name="off-the-road-price-text">{{ saleDiscountApplication.offTheRoadPrice|default|number_format(2) }}</span>
                    </td>
                </tr>
                <tr>
                    <td>BBN Notice (Rp.)</td>
                    <td>
                        {{ form_widget(form.registrationPrice, {'attr': {'data-bind-target': '[data-name=registration-price-text]', 'data-bind-format': 'number', 'data-option-precision': 2} }) }}
                        {{ form_errors(form.registrationPrice) }}
                    </td>
                    <td class="text-right">
                        <span data-name="registration-price-text">{{ saleDiscountApplication.registrationPrice|default|number_format(2) }}</span>
                    </td>
                </tr>
                <tr class="alert alert-warning font-weight-bold">
                    <td class="text-right" colspan="2">Sub Total (Rp.)</td>
                    <td class="text-right">
                        <span data-name="sub-total-price">{{ saleDiscountApplication.subTotalPrice|default|number_format(2) }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_widget(form.otherPricingName1, {'attr': {'placeholder': 'Biaya lain-lain 1'} }) }}
                        {{ form_errors(form.otherPricingName1) }}
                    </td>
                    <td>
                        {{ form_widget(form.otherPricingAmount1, {'attr': {'placeholder': 'Jumlah lain-lain 1', 'data-bind-target': '[data-name=other-pricing-amount1-text]', 'data-bind-format': 'number', 'data-option-precision': 2} }) }}
                        {{ form_errors(form.otherPricingAmount1) }}
                    </td>
                    <td class="text-right">
                        <span data-name="other-pricing-amount1-text">{{ saleDiscountApplication.otherPricingAmount1|default|number_format(2) }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_widget(form.otherPricingName2, {'attr': {'placeholder': 'Biaya lain-lain 2'} }) }}
                        {{ form_errors(form.otherPricingName2) }}
                    </td>
                    <td>
                        {{ form_widget(form.otherPricingAmount2, {'attr': {'placeholder': 'Jumlah lain-lain 2', 'data-bind-target': '[data-name=other-pricing-amount2-text]', 'data-bind-format': 'number', 'data-option-precision': 2} }) }}
                        {{ form_errors(form.otherPricingAmount2) }}
                    </td>
                    <td class="text-right">
                        <span data-name="other-pricing-amount2-text">{{ saleDiscountApplication.otherPricingAmount2|default|number_format(2) }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_widget(form.otherPricingName3, {'attr': {'placeholder': 'Biaya lain-lain 3'} }) }}
                        {{ form_errors(form.otherPricingName3) }}
                    </td>
                    <td>
                        {{ form_widget(form.otherPricingAmount3, {'attr': {'placeholder': 'Jumlah lain-lain 3', 'data-bind-target': '[data-name=other-pricing-amount3-text]', 'data-bind-format': 'number', 'data-option-precision': 2} }) }}
                        {{ form_errors(form.otherPricingAmount3) }}
                    </td>
                    <td class="text-right">
                        <span data-name="other-pricing-amount3-text">{{ saleDiscountApplication.otherPricingAmount3|default|number_format(2) }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_widget(form.otherPricingName4, {'attr': {'placeholder': 'Biaya lain-lain 4'} }) }}
                        {{ form_errors(form.otherPricingName4) }}
                    </td>
                    <td>
                        {{ form_widget(form.otherPricingAmount4, {'attr': {'placeholder': 'Jumlah lain-lain 4', 'data-bind-target': '[data-name=other-pricing-amount4-text]', 'data-bind-format': 'number', 'data-option-precision': 2} }) }}
                        {{ form_errors(form.otherPricingAmount4) }}
                    </td>
                    <td class="text-right">
                        <span data-name="other-pricing-amount4-text">{{ saleDiscountApplication.otherPricingAmount4|default|number_format(2) }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_widget(form.otherPricingName5, {'attr': {'placeholder': 'Biaya lain-lain 5'} }) }}
                        {{ form_errors(form.otherPricingName5) }}
                    </td>
                    <td>
                        {{ form_widget(form.otherPricingAmount5, {'attr': {'placeholder': 'Jumlah lain-lain 5', 'data-bind-target': '[data-name=other-pricing-amount5-text]', 'data-bind-format': 'number', 'data-option-precision': 2} }) }}
                        {{ form_errors(form.otherPricingAmount5) }}
                    </td>
                    <td class="text-right">
                        <span data-name="other-pricing-amount5-text">{{ saleDiscountApplication.otherPricingAmount5|default|number_format(2) }}</span>
                    </td>
                </tr>
                <tr class="alert alert-warning font-weight-bold">
                    <td class="text-right" colspan="2">Grand Total (Rp.)</td>
                    <td class="text-right">
                        <span data-name="grand-total-price">{{ saleDiscountApplication.grandTotalPrice|default|number_format(2) }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div>{{ form_row(form.note) }}</div>
        
        <input class="btn btn-primary navbar-inverse" type="submit" value="Save" data-confirm="Do you want to proceed?" />
    
        <div id="customer-dialog" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Customer List</h4>
                    </div>
                    <div class="modal-body">
                        <div id="customer-grid" data-grid="{{ path('common_customer_grid') }}"></div>
                    </div>
                </div>
            </div>
        </div>
                    
        <div id="vehicle-model-dialog" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg" style="width: 90%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Vehicle Model List</h4>
                    </div>
                    <div class="modal-body">
                        <div id="vehicle-model-grid" data-grid="{{ path('common_vehicle_model_grid') }}"></div>
                    </div>
                </div>
            </div>
        </div>
                    
        <div id="supplier-dialog" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg" style="width: 90%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Supplier List</h4>
                    </div>
                    <div class="modal-body">
                        <div id="supplier-grid" data-grid="{{ path('common_supplier_grid', {'business_type': constant('AppBundle\\Entity\\Master\\Supplier::BUSINESS_TYPE_WORKSHOP') }) }}"></div>
                    </div>
                </div>
            </div>
        </div>
              
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery(function($) {
            function bind() {
                $.ajax({
                    method: "POST",
                    url: "{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_format': 'json'})) }}",
                    data: $("form").serialize(),
                    dataType: "JSON",
                    success: function(data) {
                        $("[data-name=sub-total-price]", "#pricing-list").text(data.subTotalPrice);
                        $("[data-name=grand-total-price]", "#pricing-list").text(data.grandTotalPrice);
                    }
                });
            }
            
            function setCompaniesVisibility(sel) {
                $("#{{ form.financeCompany.vars.id }}").parent().hide();
                if (sel.val() === "{{ constant('PAYMENT_METHOD_FINANCE_COMPANY', saleDiscountApplication) }}") {
                    $("#{{ form.financeCompany.vars.id }}").parent().show();
                }
            }
            
            setCompaniesVisibility($(":checked", "#{{ form.paymentMethodType.vars.id }}"));
            
            $("#{{ form.offTheRoadPrice.vars.id }}").on("change", function() {
                bind();
            });
            $("#{{ form.registrationPrice.vars.id }}").on("change", function() {
                bind();
            });
            $("#{{ form.otherPricingAmount1.vars.id }}").on("change", function() {
                bind();
            });
            $("#{{ form.otherPricingAmount2.vars.id }}").on("change", function() {
                bind();
            });
            $("#{{ form.otherPricingAmount3.vars.id }}").on("change", function() {
                bind();
            });
            $("#{{ form.otherPricingAmount4.vars.id }}").on("change", function() {
                bind();
            });
            $("#{{ form.otherPricingAmount5.vars.id }}").on("change", function() {
                bind();
            });
            $("#{{ form.paymentMethodType.vars.id }}").on("change", function() {
                setCompaniesVisibility($(":checked", this));
            });
            $("#customer-grid").on("click", "table[data-role=table] tbody tr", function() {
                $("#customer-dialog").modal("hide");
                $("#{{ form.customer.vars.id }}").val($(this).attr("data-field-id"));
                $("[data-name=customer-name]", "#customer-info").text($(this).attr("data-field-name"));
                $("[data-name=customer-contact-person]", "#customer-info").text($(this).attr("data-field-contact-person"));
                $("[data-name=customer-phone]", "#customer-info").text($(this).attr("data-field-phone"));
                $("[data-name=customer-business-field]", "#customer-info").text($(this).attr("data-field-business-field"));
                $("[data-name=customer-category-two-hino-population]", "#customer-info").text($(this).attr("data-field-category-two-hino-population"));
                $("[data-name=customer-category-two-mitsubishi-population]", "#customer-info").text($(this).attr("data-field-category-two-mitsubishi-population"));
                $("[data-name=customer-category-two-toyota-population]", "#customer-info").text($(this).attr("data-field-category-two-toyota-population"));
                $("[data-name=customer-category-two-isuzu-population]", "#customer-info").text($(this).attr("data-field-category-two-isuzu-population"));
                $("[data-name=customer-category-two-other-population]", "#customer-info").text($(this).attr("data-field-category-two-other-population"));
                $("[data-name=customer-category-three-hino-population]", "#customer-info").text($(this).attr("data-field-category-three-hino-population"));
                $("[data-name=customer-category-three-mitsubishi-population]", "#customer-info").text($(this).attr("data-field-category-three-mitsubishi-population"));
                $("[data-name=customer-category-three-nissan-population]", "#customer-info").text($(this).attr("data-field-category-three-nissan-population"));
                $("[data-name=customer-category-three-isuzu-population]", "#customer-info").text($(this).attr("data-field-category-three-isuzu-population"));
                $("[data-name=customer-category-three-benz-population]", "#customer-info").text($(this).attr("data-field-category-three-benz-population"));
            });
            $("#vehicle-model-grid").on("click", "table[data-role=table] tbody tr", function() {
                $("#vehicle-model-dialog").modal("hide");
                $("#{{ form.vehicleModel.vars.id }}").val($(this).attr("data-field-id"));
                $("[data-name=vehicle-model-manufacture-code]", "#vehicle-model-info").text($(this).attr("data-field-manufacture-code"));
                $("[data-name=vehicle-model-vos-model-name]", "#vehicle-model-info").text($(this).attr("data-field-vos-model-name"));
                $("[data-name=vehicle-model-dms-variant-name]", "#vehicle-model-info").text($(this).attr("data-field-dms-variant-name"));
            });
            $("#supplier-grid").on("click", "table[data-role=table] tbody tr", function() {
                $("#supplier-dialog").modal("hide");
                $("#{{ form.supplier.vars.id }}").val($(this).attr("data-field-id"));
                $("[data-name=supplier-name]", "#supplier-info").text($(this).attr("data-field-name"));
                $("[data-name=supplier-contact-person]", "#supplier-info").text($(this).attr("data-field-contact-person"));
                $("[data-name=supplier-office-address]", "#supplier-info").text($(this).attr("data-field-office-address"));
            });
        });
    </script>
{% endblock %}
