{% extends 'master/layout.html.twig' %}

{% block actions %}
    {{ include('master/actions.html.twig') }}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
        <div class="row">
            {{ form_row(form.isPersonal, {'label' : 'Perorangan' }) }}
            {{ form_row(form.isCompany, {'label' : 'Perusahaan' }) }}
        </div>
        {{ form_widget(form) }}
        <input class="btn btn-primary navbar-inverse" type="submit" value="Save" data-confirm="Do you want to proceed?" />
    {{ form_end(form) }}
{% endblock %}
