{% extends 'transaction/layout.html.twig' %}

{% block actions %}
    {{ include('transaction/actions.html.twig') }}
{% endblock %}

{% import _self as self %}

{% macro details_row(object) %}
    <tr data-index="{{ object.vars.name }}">
        <td>
            {{ form_row(object.itemName, {'label': false}) }}
        </td>
        <td>
            {{ form_row(object.quantity, {'label': false, 'attr': {'data-name': 'quantity'} }) }}
        </td>
        <td>
            {{ form_row(object.unitPrice, {'label': false, 'attr': {'data-name': 'price'} }) }}
        </td>
        <td class="text-right">
            <span data-name="total-{{ object.vars.name }}">{{ object.vars.value.total|default|number_format(2) }}</span>
        </td>
        <td>
            <button type="button" class="btn btn-info remove-purchase-invoice-detail-prototype">Delete</button>
        </td>
    </tr>
{% endmacro %}

{% block content %}
    {{ form_start(form) }}
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Invoice Pembelian #</label>
                    <div>{{ purchaseInvoiceHeader.codeNumber }}</div>
                </div>
                {{ form_row(form.transactionDate) }}
                {{ form_row(form.supplier, {'attr': {'readonly': true, 'data-toggle': 'modal', 'data-target': '#supplier-dialog'} }) }}
                <div class="form-group" id="supplier-info">
                    <div>
                        <label>Supplier:</label>
                        <span data-name="supplier-name">{{ purchaseInvoiceHeader.supplier.name|default }}</span>
                    </div>
                    <div>
                        <label>Contact Person:</label>
                        <span data-name="supplier-contact-person">{{ purchaseInvoiceHeader.supplier.contactPerson|default }}</span>
                    </div>
                    <div>
                        <label>Office Address:</label>
                        <span data-name="supplier-office-address">{{ purchaseInvoiceHeader.supplier.officeAddress|default }}</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                {{ form_row(form.supplierInvoiceNumber) }}
                {{ form_row(form.purchaseWorkshopHeader, {'attr': {'readonly': true, 'data-toggle': 'modal', 'data-target': '#purchase-workshop-header-dialog'} }) }}
                <div class="form-group" id="purchase-workshop-header-info">
                    <div>
                        <label>PO #:</label>
                        <span data-name="code-number">{{ purchaseInvoiceHeader.purchaseWorkshopHeader.codeNumber|default }}</span>
                    </div>
                    <div>
                        <label>SO #:</label>
                        <span data-name="sale-order-code-number">{{ purchaseInvoiceHeader.purchaseWorkshopHeader.saleOrder.codeNumber|default }}</span>
                    </div>
                    <div>
                        <label>Vehicle Brand:</label>
                        <span data-name="sale-order-vehicle-brand">{{ purchaseInvoiceHeader.purchaseWorkshopHeader.saleOrder.vehicleBrand|default }}</span>
                    </div>
                    <div>
                        <label>Vehicle Serial Number:</label>
                        <span data-name="sale-order-vehicle-serial-number">{{ purchaseInvoiceHeader.purchaseWorkshopHeader.saleOrder.vehicleSerialNumber|default }}</span>
                    </div>
                    <div>
                        <label>Vehicle Color:</label>
                        <span data-name="sale-order-vehicle-color">{{ purchaseInvoiceHeader.purchaseWorkshopHeader.saleOrder.vehicleColor|default }}</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div>{{ form_row(form.note) }}</div>
            
        <hr />
        
        <div>
            <button type="button" class="btn btn-default" id="add-purchase-invoice-detail-prototype">Add Detail</button>
        </div>
        
        <br />
        
        <table class="table table-bordered" id="purchase-invoice-detail-list">
            <thead>
                <tr class="bg-info">
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th style="width: 0"></th>
                </tr>
            </thead>
            <tbody data-prototype="{{ self.details_row(form.purchaseInvoiceDetails.vars.prototype)|e }}">
                {% for purchaseInvoiceDetail in form.purchaseInvoiceDetails %}
                    {{ self.details_row(purchaseInvoiceDetail) }}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-right" colspan="3">Grand Total</td>
                    <td class="text-right"><span data-name="grand-total">{{ purchaseInvoiceHeader.grandTotal|default|number_format(2) }}</span></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        
        <input class="btn btn-primary navbar-inverse" type="submit" value="Save" data-confirm="Do you want to proceed?" />
        
        <div id="supplier-dialog" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg" style="width: 90%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Supplier List</h4>
                    </div>
                    <div class="modal-body">
                        <div id="supplier-grid" data-grid="{{ path('common_supplier_grid') }}"></div>
                    </div>
                </div>
            </div>
        </div>
                    
        <div id="purchase-workshop-header-dialog" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg" style="width: 90%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">PO Karoseri List</h4>
                    </div>
                    <div class="modal-body">
                        <div id="purchase-workshop-header-grid" data-grid="{{ path('common_purchase_workshop_header_grid') }}"></div>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery(function($) {
            function bind() {
                $.ajax({
                    method: "POST",
                    url: "{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_format': 'json'})) }}",
                    data: $("form").serialize(),
                    dataType: "JSON",
                    success: function(data) {
                        $.each(data.purchaseInvoiceDetails, function(index, purchaseInvoiceDetail) {
                            $("[data-name=total-" + index + "]", "#purchase-invoice-detail-list").text(purchaseInvoiceDetail.total);
                        });
                        $("[data-name=grand-total]", "#purchase-invoice-detail-list").text(data.grandTotal);
                    }
                });
            }
            
            var table = $("#purchase-invoice-detail-list");
            var tableBody = $("tbody", table);
            
            tableBody.on("change", "[data-name=quantity]", function() {
                bind();
            });
            tableBody.on("change", "[data-name=price]", function() {
                bind();
            });
            tableBody.on("click", ".remove-purchase-invoice-detail-prototype", function() {
                $(this).closest("tr").remove();
                bind();
            });
            
            $("#supplier-grid").on("click", "table[data-role=table] tbody tr", function() {
                $("#supplier-dialog").modal("hide");
                $("#{{ form.supplier.vars.id }}").val($(this).attr("data-field-id"));
                $("[data-name=supplier-name]", "#supplier-info").text($(this).attr("data-field-name"));
                $("[data-name=supplier-contact-person]", "#supplier-info").text($(this).attr("data-field-contact-person"));
                $("[data-name=supplier-office-address]", "#supplier-info").text($(this).attr("data-field-office-address"));
            });
            $("#purchase-workshop-header-grid").on("click", "table[data-role=table] tbody tr", function() {
                $("#purchase-workshop-header-dialog").modal("hide");
                $("#{{ form.purchaseWorkshopHeader.vars.id }}").val($(this).attr("data-field-id"));
                $("[data-name=code-number]", "#purchase-workshop-header-info").text($(this).attr("data-field-code-number"));
                $("[data-name=sale-order-code-number]", "#purchase-workshop-header-info").text($(this).attr("data-field-sale-order-code-number"));
                $("[data-name=supplier-name]", "#purchase-workshop-header-info").text($(this).attr("data-field-supplier-name"));
                $("[data-name=sale-order-vehicle-brand]", "#purchase-workshop-header-info").text($(this).attr("data-field-sale-order-vehicle-brand"));
                $("[data-name=sale-order-vehicle-serial-number]", "#purchase-workshop-header-info").text($(this).attr("data-field-sale-order-vehicle-serial-number"));
                $("[data-name=sale-order-vehicle-color]", "#purchase-workshop-header-info").text($(this).attr("data-field-sale-order-vehicle-color"));
            });
            
            $("#add-purchase-invoice-detail-prototype").on("click", function() {
                var name = "{{ form.purchaseInvoiceDetails.vars.prototype.vars.name }}";
                var rows = tableBody.children("tr");
                var index = Math.max({{ purchaseInvoiceDetailsCount }}, (rows.length > 0) ? parseInt(rows.last().attr("data-index")) + 1 : 0);
                tableBody.appendByPrototype(tableBody.attr("data-prototype"), name, index, function(prototype) {
                    var quantityPrototype = prototype.find("#{{ form.purchaseInvoiceDetails.vars.prototype.quantity.vars.id }}");
                    quantityPrototype.attr("value", $("[data-name=purchase-invoice-detail-quantity]", "#purchase-invoice-header-info").text());
                });
            });
        });
    </script>
{% endblock %}
