{% extends 'transaction/layout.html.twig' %}

{% block actions %}
    {{ include('transaction/actions.html.twig') }}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Receive Order #</label>
                    <div>{{ receiveOrder.codeNumber }}</div>
                </div>
                {{ form_row(form.transactionDate) }}
                {{ form_row(form.vehicleProductionYear) }}
                {{ form_row(form.vehicleChassisNumber) }}
                {{ form_row(form.vehicleMachineNumber) }}
                {{ form_row(form.vehicleDescription) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.saleOrder, {'attr': {'readonly': true, 'data-toggle': 'modal', 'data-target': '#sale-order-dialog'} }) }}
                <div>
                    <strong>Name:</strong>
                    <span id="customer-name">{{ receiveOrder.saleOrder.customer.name|default }}</span>
                </div>
                <div>
                    <strong>Vehicle Brand:</strong>
                    <span id="sale-order-vehicle-brand">{{ receiveOrder.saleOrder.vehicleBrand|default }}</span>
                </div>
                <div>
                    <strong>Vehicle Type:</strong>
                    <span id="sale-order-vehicle-type">{{ receiveOrder.saleOrder.vehicleType|default }}</span>
                </div>
                <div>
                    <strong>Vehicle Serial Number:</strong>
                    <span id="sale-order-vehicle-serial-number">{{ receiveOrder.saleOrder.vehicleSerialNumber|default }}</span>
                </div>
                <div>
                    <strong>Vehicle Color:</strong>
                    <span id="sale-order-vehicle-color">{{ receiveOrder.saleOrder.vehicleColor|default }}</span>
                </div>
                <br />
                {{ form_row(form.serviceBookNumber) }}
            </div>
        </div>
        
        <div>{{ form_row(form.note) }}</div>
        
        <input class="btn btn-primary navbar-inverse" type="submit" value="Save" data-confirm="Do you want to proceed?" />
    
        <div id="sale-order-dialog" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg" style="width: 90%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Sale Order List</h4>
                    </div>
                    <div class="modal-body">
                        <div id="sale-order-grid" data-grid="{{ path('common_sale_order_grid') }}"></div>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery(function($) {
            $("#sale-order-grid").on("click", "table[data-role=table] tbody tr", function() {
                $("#sale-order-dialog").modal("hide");
                $("#{{ form.saleOrder.vars.id }}").val($(this).attr("data-field-id"));
                $("#customer-name").text($(this).attr("data-field-customer-name"));
                $("#sale-order-vehicle-brand").text($(this).attr("data-field-sale-order-vehicle-brand"));
                $("#sale-order-vehicle-type").text($(this).attr("data-field-sale-order-vehicle-type"));
                $("#sale-order-vehicle-serial-number").text($(this).attr("data-field-sale-order-vehicle-serial-number"));
                $("#sale-order-vehicle-color").text($(this).attr("data-field-sale-order-vehicle-color"));
            });
        });
    </script>
{% endblock %}
