{% set grid_layout = 'datagrid.html.twig' %}

{{ grid_top(grid) }}

<table data-role="table" class="table table-bordered table-striped table-condensed table-hover">
    <thead>
        <tr data-action="sort" class="alert alert-info">
            <th data-group="receiveOrder" data-field="transactionDate">Transaction Date</th>
            <th data-group="receiveOrder" data-field="vehicleProductionYear">Vehicle Production Year</th>
            <th data-group="receiveOrder" data-field="vehicleChassisNumber">Vehicle Chassis Number</th>
            <th data-group="receiveOrder" data-field="vehicleMachineNumber">Vehicle Machine Number</th>
            <th data-group="receiveOrder" data-field="vehicleDescription">Vehicle Description</th>
            <th data-group="receiveOrder" data-field="serviceBookNumber">Service Book Number</th>
            <th data-group="receiveOrder" data-field="note">Note</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for receiveOrder in grid.data %}
            <tr data-field-id="{{ receiveOrder.id }}">
                <td class="text-left">{{ receiveOrder.transactionDate|default ? receiveOrder.transactionDate|date('Y-m-d') }}</td>
                <td class="text-left">{{ receiveOrder.vehicleProductionYear|default }}</td>
                <td class="text-left">{{ receiveOrder.vehicleChassisNumber|default }}</td>
                <td class="text-left">{{ receiveOrder.vehicleMachineNumber|default }}</td>
                <td class="text-left">{{ receiveOrder.vehicleDescription|default }}</td>
                <td class="text-left">{{ receiveOrder.serviceBookNumber|default }}</td>
                <td class="text-left">{{ receiveOrder.note|default }}</td>
                <td class="text-left">
                    {{ include('transaction/actions.html.twig', {
                        'contents': {
                            '{index}': null,
                            '{new}': null,
                            '{show}': include('action.html.twig', {'url': path('transaction_receive_order_show', {'id': receiveOrder.id}), 'button': 'btn btn-info btn-sm', 'icon': 'glyphicon glyphicon-info-sign'}),
                            '{edit}': include('action.html.twig', {'url': path('transaction_receive_order_edit', {'id': receiveOrder.id}), 'button': 'btn btn-warning btn-sm', 'icon': 'glyphicon glyphicon-edit'}),
                            '{delete}': include('action.html.twig', {'url': path('transaction_receive_order_delete', {'id': receiveOrder.id}), 'button': 'btn btn-danger btn-sm', 'icon': 'glyphicon glyphicon-remove'}),
                        }
                    }) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8" class="alert alert-warning">
                    <strong>There are no items to display.</strong>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{{ grid_bottom(grid) }}
