{% set grid_layout = 'datagrid.html.twig' %}

{{ grid_top(grid) }}

<table data-role="table" class="table table-bordered table-striped table-condensed table-hover">
    <thead>
        <tr data-action="sort" class="alert alert-info">
            <th data-group="purchaseInvoiceSparepartDetail" data-field="itemCode">Item Code</th>
            <th data-group="purchaseInvoiceSparepartDetail" data-field="itemName">Item Name</th>
            <th data-group="purchaseInvoiceSparepartDetail" data-field="supplySysNumber">Supply Sys Number</th>
            <th data-group="purchaseInvoiceSparepartDetail" data-field="supplySlipNumber">Supply Slip Number</th>
            <th data-group="purchaseInvoiceSparepartDetail" data-field="quantity">Quantity</th>
            <th data-group="purchaseInvoiceSparepartDetail" data-field="itemPrice">Item Price</th>
            <th data-group="purchaseInvoiceSparepartDetail" data-field="servicePrice">Service Price</th>
            <th data-group="purchaseInvoiceSparepartDetail" data-field="materialPrice">Material Price</th>
            <th data-group="purchaseInvoiceSparepartDetail" data-field="sparepartPrice">Sparepart Price</th>
            <th data-group="purchaseInvoiceSparepartDetail" data-field="outsourcePrice">Outsource Price</th>
            <th data-group="purchaseInvoiceSparepartDetail" data-field="oilPrice">Oil Price</th>
            <th data-group="purchaseInvoiceSparepartDetail" data-field="accPrice">Acc Price</th>
            <th data-group="purchaseInvoiceSparepartDetail" data-field="packagePrice">Package Price</th>
            <th data-group="purchaseInvoiceSparepartDetail" data-field="souvenirPrice">Souvenir Price</th>
            <th data-group="purchaseInvoiceSparepartDetail" data-field="serviceDiscount">Service Discount</th>
            <th data-group="purchaseInvoiceSparepartDetail" data-field="materialDiscount">Material Discount</th>
            <th data-group="purchaseInvoiceSparepartDetail" data-field="sparepartDiscount">Sparepart Discount</th>
            <th data-group="purchaseInvoiceSparepartDetail" data-field="outsourceDiscount">Outsource Discount</th>
            <th data-group="purchaseInvoiceSparepartDetail" data-field="oilDiscount">Oil Discount</th>
            <th data-group="purchaseInvoiceSparepartDetail" data-field="accessoryDiscount">Accessory Discount</th>
            <th data-group="purchaseInvoiceSparepartDetail" data-field="packageDiscount">Package Discount</th>
            <th data-group="purchaseInvoiceSparepartDetail" data-field="souvenirDiscount">Souvenir Discount</th>
            <th data-group="purchaseInvoiceSparepartDetail" data-field="totalBeforeTax">Total Before Tax</th>
            <th data-group="purchaseInvoiceSparepartDetail" data-field="totalTax">Total Tax</th>
            <th data-group="purchaseInvoiceSparepartDetail" data-field="totalAfterTax">Total After Tax</th>
            <th data-group="purchaseInvoiceSparepartDetail" data-field="purchaseAmount">Purchase Amount</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for purchaseInvoiceSparepartDetail in grid.data %}
            <tr data-field-id="{{ purchaseInvoiceSparepartDetail.id }}">
                <td class="text-left">{{ purchaseInvoiceSparepartDetail.itemCode|default }}</td>
                <td class="text-left">{{ purchaseInvoiceSparepartDetail.itemName|default }}</td>
                <td class="text-left">{{ purchaseInvoiceSparepartDetail.supplySysNumber|default }}</td>
                <td class="text-left">{{ purchaseInvoiceSparepartDetail.supplySlipNumber|default }}</td>
                <td class="text-right">{{ purchaseInvoiceSparepartDetail.quantity|default|number_format(2) }}</td>
                <td class="text-right">{{ purchaseInvoiceSparepartDetail.itemPrice|default|number_format(2) }}</td>
                <td class="text-right">{{ purchaseInvoiceSparepartDetail.servicePrice|default|number_format(2) }}</td>
                <td class="text-right">{{ purchaseInvoiceSparepartDetail.materialPrice|default|number_format(2) }}</td>
                <td class="text-right">{{ purchaseInvoiceSparepartDetail.sparepartPrice|default|number_format(2) }}</td>
                <td class="text-right">{{ purchaseInvoiceSparepartDetail.outsourcePrice|default|number_format(2) }}</td>
                <td class="text-right">{{ purchaseInvoiceSparepartDetail.oilPrice|default|number_format(2) }}</td>
                <td class="text-right">{{ purchaseInvoiceSparepartDetail.accPrice|default|number_format(2) }}</td>
                <td class="text-right">{{ purchaseInvoiceSparepartDetail.packagePrice|default|number_format(2) }}</td>
                <td class="text-right">{{ purchaseInvoiceSparepartDetail.souvenirPrice|default|number_format(2) }}</td>
                <td class="text-right">{{ purchaseInvoiceSparepartDetail.serviceDiscount|default|number_format(2) }}</td>
                <td class="text-right">{{ purchaseInvoiceSparepartDetail.materialDiscount|default|number_format(2) }}</td>
                <td class="text-right">{{ purchaseInvoiceSparepartDetail.sparepartDiscount|default|number_format(2) }}</td>
                <td class="text-right">{{ purchaseInvoiceSparepartDetail.outsourceDiscount|default|number_format(2) }}</td>
                <td class="text-right">{{ purchaseInvoiceSparepartDetail.oilDiscount|default|number_format(2) }}</td>
                <td class="text-right">{{ purchaseInvoiceSparepartDetail.accessoryDiscount|default|number_format(2) }}</td>
                <td class="text-right">{{ purchaseInvoiceSparepartDetail.packageDiscount|default|number_format(2) }}</td>
                <td class="text-right">{{ purchaseInvoiceSparepartDetail.souvenirDiscount|default|number_format(2) }}</td>
                <td class="text-right">{{ purchaseInvoiceSparepartDetail.totalBeforeTax|default|number_format(2) }}</td>
                <td class="text-right">{{ purchaseInvoiceSparepartDetail.totalTax|default|number_format(2) }}</td>
                <td class="text-right">{{ purchaseInvoiceSparepartDetail.totalAfterTax|default|number_format(2) }}</td>
                <td class="text-right">{{ purchaseInvoiceSparepartDetail.purchaseAmount|default|number_format(2) }}</td>
                <td class="text-left">
                    {{ include('transaction/actions.html.twig', {
                        'contents': {
                            '{index}': null,
                            '{new}': null,
                            '{show}': include('action.html.twig', {'url': path('transaction_purchase_invoice_sparepart_detail_show', {'id': purchaseInvoiceSparepartDetail.id}), 'button': 'btn btn-info btn-sm', 'icon': 'glyphicon glyphicon-info-sign'}),
                            '{edit}': include('action.html.twig', {'url': path('transaction_purchase_invoice_sparepart_detail_edit', {'id': purchaseInvoiceSparepartDetail.id}), 'button': 'btn btn-warning btn-sm', 'icon': 'glyphicon glyphicon-edit'}),
                            '{delete}': include('action.html.twig', {'url': path('transaction_purchase_invoice_sparepart_detail_delete', {'id': purchaseInvoiceSparepartDetail.id}), 'button': 'btn btn-danger btn-sm', 'icon': 'glyphicon glyphicon-remove'}),
                        }
                    }) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="27" class="alert alert-warning">
                    <strong>There are no items to display.</strong>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{{ grid_bottom(grid) }}
