{% set grid_layout = 'datagrid.html.twig' %}

{{ grid_top(grid) }}

<table data-role="table" class="table table-bordered table-striped table-condensed table-hover">
    <thead>
        <tr data-action="sort" class="alert alert-info">
            <th data-group="deliveryWorkshop" data-field="codeNumber">SJ Karoseri #</th>
            <th data-group="deliveryWorkshop" data-field="transactionDate">Transaction Date</th>
            <th data-group="supplier" data-field="supplier">Supplier Name</th>
            <th data-group="saleOrder" data-field="saleOrderCodeNumber">SO #</th>
            <th data-group="saleOrder" data-field="customer">Customer</th>
            <th data-group="saleOrder" data-field="vehicleBrand">Vehicle Brand</th>
            <th data-group="saleOrder" data-field="vehicleColor">Vehicle Color</th>
            <th data-group="saleOrder" data-field="vehicleChassisNumber">Vehicle Chassis Number</th>
            <th data-group="saleOrder" data-field="vehicleMachineNumber">Vehicle Machine Number</th>
        </tr>
        <tr data-action="search">
            <th data-group="deliveryWorkshop" data-field="codeNumber"></th>
            <th data-group="deliveryWorkshop" data-field="transactionDate"></th>
            <th data-group="supplier" data-field="name"></th>
            <th data-group="saleOrder" data-field="codeNumber"></th>
            <th data-group="saleOrder" data-field="vehicleBrand"></th>
            <th data-group="saleOrder" data-field="vehicleColor"></th>
            <th data-group="saleOrder" data-field="vehicleBrand"></th>
            <th data-group="saleOrder" data-field="vehicleColor"></th>
        </tr>
    </thead>
    <tbody>
        {% for deliveryWorkshop in grid.data %}
            <tr data-field-id="{{ deliveryWorkshop.id }}"
                data-field-delivery-workshop-code-number="{{ deliveryWorkshop.codeNumber|default }}"
                data-field-supplier-name="{{ deliveryWorkshop.purchaseWorkshopHeader.supplier.name|default }}"
                data-field-sale-order-code-number="{{ deliveryWorkshop.receiveOrder.saleOrder.codeNumber|default }}"
                data-field-customer-name="{{ deliveryWorkshop.receiveOrder.saleOrder.customer.name|default }}"
                data-field-vehicle-brand="{{ deliveryWorkshop.receiveOrder.saleOrder.vehicleBrand|default }}"
                data-field-vehicle-serial-number="{{ deliveryWorkshop.receiveOrder.saleOrder.vehicleSerialNumber|default }}"
                data-field-vehicle-color="{{ deliveryWorkshop.receiveOrder.saleOrder.vehicleColor|default }}"
                data-field-vehicle-production-year="{{ deliveryWorkshop.receiveOrder.vehicleProductionYear|default }}"
                data-field-vehicle-chassis-number="{{ deliveryWorkshop.receiveOrder.vehicleChassisNumber|default }}"
                data-field-vehicle-machine-number="{{ deliveryWorkshop.receiveOrder.vehicleMachineNumber|default }}"
                data-field-vehicle-description="{{ deliveryWorkshop.receiveOrder.vehicleDescription|default }}"
                data-field-vehicle-model-manufacture-code="{{ deliveryWorkshop.receiveOrder.saleOrder.vehicleModel.manufactureCode|default }}">
                <td class="text-left">{{ deliveryWorkshop.codeNumber|default }}</td>
                <td class="text-left">{{ deliveryWorkshop.transactionDate|default ? deliveryWorkshop.transactionDate|date('Y-m-d') }}</td>
                <td class="text-left">{{ deliveryWorkshop.purchaseWorkshopHeader.supplier.name|default }}</td>
                <td class="text-left">{{ deliveryWorkshop.receiveOrder.saleOrder.codeNumber|default }}</td>
                <td class="text-left">{{ deliveryWorkshop.receiveOrder.saleOrder.customer.name|default }}</td>
                <td class="text-left">{{ deliveryWorkshop.receiveOrder.saleOrder.vehicleBrand|default }}</td>
                <td class="text-left">{{ deliveryWorkshop.receiveOrder.saleOrder.vehicleColor|default }}</td>
                <td class="text-left">{{ deliveryWorkshop.receiveOrder.vehicleChassisNumber|default }}</td>
                <td class="text-left">{{ deliveryWorkshop.receiveOrder.vehicleMachineNumber|default }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6" class="alert alert-warning">
                    <strong>There are no items to display.</strong>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{{ grid_bottom(grid) }}

<script>
    jQuery(function($) {
        $("#{{ grid.id }}-top").css("display", "none");
    });
</script>
