{% extends 'transaction/layout.html.twig' %}

{% block actions %}
    {{ include('transaction/actions.html.twig') }}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>SJ Karoseri #</label>
                    <div>{{ deliveryWorkshop.codeNumber }}</div>
                </div>
                {{ form_row(form.transactionDate) }}
                {{ form_row(form.supplier, {'attr': {'readonly': true, 'data-toggle': 'modal', 'data-target': '#supplier-dialog'} }) }}
                <div>
                    <strong>Name:</strong>
                    <span id="supplier-name">{{ deliveryWorkshop.supplier.name|default }}</span>
                </div>
                <div>
                    <strong>Contact Person:</strong>
                    <span id="supplier-contact-person">{{ deliveryWorkshop.supplier.contactPerson|default }}</span>
                </div>
                <div>
                    <strong>Phone:</strong>
                    <span id="supplier-phone">{{ deliveryWorkshop.supplier.phone|default }}</span>
                </div>
                <div>
                    <strong>Office Address:</strong>
                    <span id="supplier-office-address">{{ deliveryWorkshop.supplier.officeAddress|default }}</span>
                </div>
            </div>
            <div class="col-sm-6">
                {{ form_row(form.receiveOrder, {'attr': {'readonly': true, 'data-toggle': 'modal', 'data-target': '#receive-order-dialog'} }) }}
                <div>
                    <strong>Name:</strong>
                    <span id="customer-name">{{ deliveryWorkshop.receiveOrder.saleOrder.customer.name|default }}</span>
                </div>
                <div>
                    <strong>Vehicle Brand:</strong>
                    <span id="sale-order-vehicle-brand">{{ deliveryWorkshop.receiveOrder.saleOrder.vehicleBrand|default }}</span>
                </div>
                <div>
                    <strong>Vehicle Type:</strong>
                    <span id="sale-order-vehicle-type">{{ deliveryWorkshop.receiveOrder.saleOrder.vehicleType|default }}</span>
                </div>
                <div>
                    <strong>Vehicle Serial Number:</strong>
                    <span id="sale-order-vehicle-serial-number">{{ deliveryWorkshop.receiveOrder.saleOrder.vehicleSerialNumber|default }}</span>
                </div>
                <div>
                    <strong>Vehicle Production Year:</strong>
                    <span id="receive-order-vehicle-serial-number">{{ deliveryWorkshop.receiveOrder.vehicleProductionYear|default }}</span>
                </div>
                <div>
                    <strong>Vehicle Chassis Number:</strong>
                    <span id="receive-order-vehicle-serial-number">{{ deliveryWorkshop.receiveOrder.vehicleChassisNumber|default }}</span>
                </div>
                <div>
                    <strong>Vehicle Machine Number:</strong>
                    <span id="receive-order-vehicle-serial-number">{{ deliveryWorkshop.receiveOrder.vehicleMachineNumber|default }}</span>
                </div>
                <div>
                    <strong>Vehicle Color:</strong>
                    <span id="sale-order-vehicle-color">{{ deliveryWorkshop.receiveOrder.saleOrder.vehicleColor|default }}</span>
                </div>
                <div>
                    <strong>Vehicle Description:</strong>
                    <span id="receive-order-vehicle-serial-number">{{ deliveryWorkshop.receiveOrder.vehicleDescription|default }}</span>
                </div>
                <br />
            </div>
        </div>
        
        <div>{{ form_row(form.note) }}</div>
        
        <input class="btn btn-primary navbar-inverse" type="submit" value="Save" data-confirm="Do you want to proceed?" />
    
        <div id="supplier-dialog" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg" style="width: 90%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Supplier List</h4>
                    </div>
                    <div class="modal-body">
                        <div id="supplier-grid" data-grid="{{ path('common_supplier_grid') }}"></div>
                    </div>
                </div>
            </div>
        </div>
                    
        <div id="receive-order-dialog" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg" style="width: 90%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Receive Order List</h4>
                    </div>
                    <div class="modal-body">
                        <div id="receive-order-grid" data-grid="{{ path('common_receive_order_grid') }}"></div>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery(function($) {
            $("#supplier-grid").on("click", "table[data-role=table] tbody tr", function() {
                $("#supplier-dialog").modal("hide");
                $("#{{ form.supplier.vars.id }}").val($(this).attr("data-field-id"));
                $("#supplier-name").text($(this).attr("data-field-name"));
                $("#supplier-contact-person").text($(this).attr("data-field-contact-person"));
                $("#supplier-phone").text($(this).attr("data-field-phone"));
                $("#supplier-office-address").text($(this).attr("data-field-office-address"));
            });
            $("#receive-order-grid").on("click", "table[data-role=table] tbody tr", function() {
                $("#receive-order-dialog").modal("hide");
                $("#{{ form.receiveOrder.vars.id }}").val($(this).attr("data-field-id"));
                $("#customer-name").text($(this).attr("data-field-customer-name"));
                $("#sale-order-vehicle-brand").text($(this).attr("data-field-sale-order-vehicle-brand"));
                $("#sale-order-vehicle-type").text($(this).attr("data-field-sale-order-vehicle-type"));
                $("#sale-order-vehicle-serial-number").text($(this).attr("data-field-sale-order-vehicle-serial-number"));
                $("#receive-order-vehicle-production-year").text($(this).attr("data-field-receive-order-vehicle-production-year"));
                $("#receive-order-vehicle-chassis-number").text($(this).attr("data-field-receive-order-vehicle-chassis-number"));
                $("#receive-order-vehicle-machine-number").text($(this).attr("data-field-receive-order-vehicle-machine-number"));
                $("#sale-order-vehicle-color").text($(this).attr("data-field-sale-order-vehicle-color"));
                $("#receive-order-vehicle-description").text($(this).attr("data-field-receive-order-vehicle-description"));
            });
        });
    </script>
{% endblock %}
