{% set grid_layout = 'datagrid.html.twig' %}

{{ grid_top(grid) }}

<table data-role="table" class="table table-bordered table-striped table-condensed table-hover">
    <thead>
        <tr data-action="sort" class="alert alert-info">
            <th data-group="saleInvoice" data-field="codeNumber">Invoice #</th>
            <th data-group="saleInvoice" data-field="transactionDate">Transaction Date</th>
            <th data-group="saleOrder" data-field="codeNumber">SO #</th>
            <th data-group="customer" data-field="name">Customer Name</th>
            <th data-group="saleInvoice" data-field="taxNumber">Faktur Pajak #</th>
            <th data-group="saleInvoice" data-field="amount">Amount</th>
        </tr>
        <tr data-action="search">
            <th data-group="saleInvoice" data-field="codeNumber"></th>
            <th data-group="saleInvoice" data-field="transactionDate"></th>
            <th data-group="saleOrder" data-field="codeNumber"></th>
            <th data-group="customer" data-field="name"></th>
            <th data-group="saleInvoice" data-field="taxNumber"></th>
            <th data-group="saleInvoice" data-field="amount"></th>
        </tr>
    </thead>
    <tbody>
        {% for saleInvoice in grid.data %}
            <tr data-field-id="{{ saleInvoice.id }}"
                data-field-sale-invoice-code-number="{{ saleInvoice.codeNumber|default }}"
                data-field-sale-invoice-amount="{{ saleInvoice.amount|default|number_format(2) }}"
                data-field-sale-invoice-tax-number="{{ saleInvoice.taxNumber|default }}"
                data-field-sale-order-code-number="{{ saleInvoice.receiveOrder.saleOrder.codeNumber|default }}"
                data-field-customer-name="{{ saleInvoice.receiveOrder.saleOrder.customer.name|default }}">
                <td class="text-left">{{ saleInvoice.codeNumber|default }}</td>
                <td class="text-left">{{ saleInvoice.transactionDate|default ? saleInvoice.transactionDate|date('Y-m-d') }}</td>
                <td class="text-left">{{ saleInvoice.receiveOrder.saleOrder.codeNumber|default }}</td>
                <td class="text-left">{{ saleInvoice.receiveOrder.saleOrder.customer.name|default }}</td>
                <td class="text-left">{{ saleInvoice.taxNumber|default }}</td>
                <td class="text-right">{{ saleInvoice.amount|default|number_format(2) }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6" class="alert alert-warning">
                    <strong>There are no items to display.</strong>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{{ grid_bottom(grid) }}

<script>
    jQuery(function($) {
        $("#{{ grid.id }}-top").css("display", "none");
    });
</script>
